.App {
  text-align: center;
}
.App-header {
  background-color: #19ceeb;
  min-height: 13vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: black;
}
.left {padding-top: 2rem;}
.left h1 {float:left; padding-left: 2rem;}
.right {padding-top: 3rem;}
.right h5 {float:right; padding-right: 2rem;}
.Products {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.listItem {
  float: left;
}
img {
  width: 20%;
}
.listQty {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
}
.box {
  border: 1px solid grey;
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
}
.listQty h6 {
  margin-left: 0.5rem;
  padding-top: 0.3rem;
}